body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

.navbar {
	border-radius: 0px;
}
a {
  color: #00B7FF;
}

footer {
	color: grey;
	margin-top: 30px;
}

#Title {
	color: green;
}